{% extends "ehome.html" %}

{% block content %}
<style>
        body {
            background-color: #f5f5f5;
            font-family: Arial, sans-serif;
        }

        .login-box label {
         display: flex;
         justify-content: left;
         margin-bottom: 0px;
         }

        .login-box {
            width: 800px;
            margin: 50px auto;
            padding: 30px;
            background: white;
            box-shadow: 0 4px 10px rgba(0,0,0,0.2);
            border-radius: 10px;
            text-align: center;
        }

        .login-box h2 {
            margin-bottom: 20px;
        }

        .login-box label {
         display: flex;
         justify-content: left;
         margin-bottom: 0px;
         }

       .login-box input[type="text"],
        .login-box input[type="email"],
        .login-box input[type="password"]{
            width:100%;
            padding:10px;
            margin:10px 0;
            margin-bottom:20px;
            border:1px solid #ccc;
            border-radius:5px;
        }

        .login-box input[type="checkbox"]{
            width:auto;
            margin-bottom:20px;
        }

        .login-box button {
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            border: none;
            color: white;
            border-radius: 5px;
            cursor: pointer;
        }

        .login-box button:hover {
            background-color: #0056b3;
        }


    </style>
   </head>

<body>

<div style="background-color:lightblue;">

<div style="padding:30px">
<div class="login-box">
<div style="display: flex; justify-content: center;" ><h2>Update Employer Profile</h2></div><br>
<div  style="display: flex; justify-content: center;">


  <form class="container"  method="post" enctype="multipart/form-data">
          {% csrf_token %}
       <span class="form-group col-sm-6">
                   <img src="{{employer.image.url}}" style="width:80px; height:80px;border-radius:50%;object-fit:cover;  border:1px solid black;margin-bottom:20px;" value="{{employer.image.url}}" alt="image" >

                </span>
        <div class="form-row">
            <div class="form-group col-sm-6" >
                <label>First Name</label>
               <input type="text" name="firstname" value="{{employer.firstname}}" ></div>
            <div class="form-group col-sm-6" >
                <label>Last Name:</label>
                <input type="text" name="lastname" value="{{employer.lastname}}" >
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-6" >
                <label>Email Id</label>
               <input type="email" name="email_id" value="{{employer.email_id}}" ></div>
            <div class="form-group col-sm-6" >
                  <label>Contact Number</label>
        <input type="text" name="contact" value="{{employer.contact}}"  >
            </div>
        </div>

         <div class="form-row">
                    <div class="form-group col-sm-6" >
             <label>Company</label>
                        <input type="text" name="skills" value="{{employer.company}}" ></div>

         </div>

      <div class="row" style="margin-left: 10px">
           <label>Gender:</label>
 <span  style="margin-right:50px;margin-left:100px;">
     <input type="radio"  name="gender" value="Male" {% if employer.gender == "Male" %}checked{% endif %} > Male </span>

 <span  style="margin-right:50px;">
     <input type="radio"  name="gender" value="Female" {% if employer.gender == "Female" %}checked{% endif %}> Female </span>


      </div>
      <br>

         <button type="submit">Update </button>
    </form>
</div>
</div>
</div>
</div>

{% endblock content %}